<div class="span7">
  <li><%= service.name %> <strong><%= service.price %></strong></li>
  <p><%= service.description %></p>
  <% if signed_in? %>
    <% if is_admin? %>
      <p>(<%= link_to "Edit", edit_service_path(service) %>)</p>
    <% end %>
  <% end %>
</div>