<%= provide(:title, "Information About #{t('brand')}") %>

<div class="container">
  <div class="row">
    <h1 class="page-header">Information</h1>
    <h3>Book Your Pink’s Appointment</h3>
    <p>Please call (206) 402-6310 to reserve your appointments or <%= link_to "book online", "http://www.secure-booker.com/pinksbeauty/BookOnlineStart.aspx" %>. In order to get your ideal day and time, we recommend that you pre-book your next service prior to leaving the beauty boutique.</p>
    <h3>Parking</h3>
    <p>Street parking is available on surrounding neighborhood streets.</p>
  </div>

  <div class="row">
    <h1 class="page-header">Spa Etiquette</h1>
    <h3>Punctuality</h3>
    <p>We recommend that you show up 15 minutes prior to any first time appointment. Keep in mind that your appointment may have to be shortened or rescheduled as a courtesy to our next guest if you arrive late.</p>

    <h3>Cell Phones</h3>
    <p>We would like for your visit to be a relaxing experience for you and others around you; please be kind and silence your phone.</p>

    <h3>Cancellations</h3>
    <p>If you need to modify or cancel an appointment, please do so 24 hours prior to your reservation or a cancellation/no show fee will be charged.</p>
  </div>
  
  <div class="row">
    <h1 class="page-header">Goodbye Mascara, Hello Lash Extensions</h1>
    <h3>What are eyelash extensions?</h3>
    <p>Semi- permanent high fashion synthetic fiber or all natural 100% mink lashes are meticulously applied to each individual natural lash creating volume and length.</p>
    
    <h3>How long will they last?</h3>
    <p>Fills are recommended every two to three weeks. We naturally shed 2-5 lashes per day. There are many factors that affect the growth and strength of all hair including but not limited to genetics, cleansing products, seasonal changes, athletic activities, and cosmetics. With proper application, lash forecasting, home care, products, and regular lash fill appointments you will prolong the life of your extensions.</p>

    <h3>How should I prepare for my Pink’s lash extensions?</h3>
    <p>Clients should arrive with a fresh face free of makeup and moisture. New clients should arrive 15 minutes prior to scheduled appointment to fill out forms and review all terms and conditions before the lash application. </p>

    <h3>How do care for my lash extensions?</h3>
    <p>Allow 24 hours for adhesive to fully cure keeping lashes free from water, oils, moisture, and steam. Always use oil free facial cleansers and products around the eye.  Do not use manual lash curlers, lash perms, or waterproof mascara on lashes. The use of Q-tips or cotton balls are not recommended near the lash line. Natural skin oils, rubbing, scratching, picking, and pulling will shorten the life of your extensions. The use of suggested lash products may extend the frequency between lash fills. </p>

    <h3>Can I use mascara over my lash extensions?</h3>
    <p>Yes! But you have to use special mascara that is formulated just for lash extensions. Apply Nior Lash Extension Mascara to the tips for an additional glossy, lengthened, and volumized appearance.</p>

  </div>

  <div class="row">
    <h1 class="page-header">Airbrush to Bronze <small>Airbrush Tanning</small></h1>
    <h3>What is airbrush tanning?</h3>
    <p>Airbrush tanning is the latest beauty service to hit the tanning industry.  An airbrush tan technician uses a high tech spray gun to apply a tanning solution to the client's skin. The spray gun is attached to an air compressor and the solution is applied in the same form as if one were spray painting.</p>

    <h3>Is airbrush tanning safe?</h3>
    <p>Yes, sunless tanning is a safe and a proven method of obtaining a tan.  As with any personal product, sensitivity can occur, but is rare.  If an individual has ever had any adverse effects utilizing self-tanning products or moisturizers, they might experience similar effects with airbrush tanning. The active ingredient DHA  is derived from sugar beets and has been FDA approved for topical application and used for tanning creams since the 1960's.  DHA has also been used in food and cosmetics for decades.  When DHA comes in contact with the amino acids of the skin, it creates a natural chemical reaction that causes the skin to appear tanned.      </p>

    <h3>Does airbrush tanning protect me from the sun?</h3>
    <p>NO, airbrush tanning DOES NOT protect you from the sun.  We recommended that a sunscreen be used at any time you go out into the sun.  </p>

    <h3>How long does airbrush tanning last?</h3>
    <p>Depending on the skin type, a tan will last 8 to 12 days.  Keeping your skin hydrated will prolong your sunless tan.  Like a suntan, the sunless tan will fade gradually as your skin exfoliates. </p>

    <h3>How often can I airbrush tan?</h3>
    <p>Tanning can be performed every 3 to 7 days if desired.  Airbrush tanning back to back on the same day, is not advised, as it does not give the DHA time to set between tans.</p>

    <h3>How long does it take for an airbrush tanning session?</h3>
    <p>Full body sessions take less than 5 minutes to apply. The solution dries in seconds.   </p>

    <h3>Will airbrush tanning work on fair-skinned people?</h3>
    <p>Yes, we have different color levels for different skin tones and can accommodate every individual. </p>

    <h3>Do I have to take off all of my clothes for the application?</h3>
    <p>No, this is an individual choice.  You may wear a bathing suit, undergarments, or be naked; it's entirely up to you.  Male clients must wear some form of undergarment.</p>

    <h3>How do I prepare for my Pink’s airbrush tan session?</h3>
    <ol>
      <li>Shower and exfoliate (we recommend Pink’s 100% natural exfoliating scrub) prior to your session.  Since the chemical process affects only the top layer of skin, as your skin sloughs off, your tan can go with it.  Your skin must be smooth, clean and dry to get a smooth, clean tan.  No lotions prior to tanning.</li>
      <li>Wear loose fitting, dark clothing and flip-flop shoes after your airbrush tan session.  Tight or rough clothes, such as jeans, will rub on your skin and reduce the effect of your tan.  The tanning solution may stain silk, wool and synthetic fabrics, so these should not be worn in the first 12 hours after the airbrush tan session.</li>
    </ol>

    <h3>How do I maximize my airbrush tan?</h3>
    <ol>
      <li>Limit physical activity for 8-12 hours following your tanning session.</li>
      <li>Do not shower or get wet for at least 8-12 hours after tanning.  DHA continues to react with the amino acids of your skin for up to 12 hours.</li>
      <li>Use a moisturizer on your skin morning and night between airbrush tans. The time of year will affect your skin, and therefore, your tan.  Keep moisturized.</li>
      <li>Long hot baths or long showers are great for pre-tan exfoliation, but can cause a tan to fade prematurely.   Only use a soft cloth for washing when you are tanned.</li>
      <li>Pat dry after showering or bathing.  DO NOT RUB.</li>
      <li>Use a sharp, clean razor with a lubricating product, when shaving.  Hair conditioner works well. (Avoid hair removal products  ... Nair, Neet, wax, etc.)</li>
      <li>Avoid harsh soaps such as deodorant bar soap.</li>
      <li>Anti-acne products (including Retin-A type products) and makeup removal products may cause tan to fade.</li>
      <li>Avoid exfoliating scrubs, facial masks, and toners containing alcohol.</li>
      <li>Swimming in a chlorinated pool or hot tub can cause tan to fade prematurely.  The application of thick waterproof sun block, prior to swimming, will help reduce fading.</li>
    </p>

  </div>

  <div class="row">
    <h1 class="page-header">Sugar Me Smooth <small>Sugaring Hair Removal</small></h1>
    <h3>Why is sugar the best option for hair removal?</h3>
    <ol>
      <li>100%  Natural Ingredients: completely natural: made from sugar, lemon and water. You can eat it!</li>
      <li>Sanitary: hypoallergenic and non comedogenic: sugar paste is applied with a gloved hand, and a fresh ball of sugar paste is used for each client, meaning no risk of cross contamination.</li>
      <li>Less Painful than Waxing: sugar will not stick to live skin cells, only the dead skin cells are removed, so there is less risk of abrasions/tearing and generally less redness than waxing.</li> 
      <li>Not Hot: sugar paste is lukewarm when it is applied, so there is no risk of burning the skin.</li> 
      <li>Unique Technique: sugar paste is applied against the natural direction of hair growth, then removed in the direction of growth resulting in a less painful hair removal and less hair breakage.</li>
      <li>Extracts Short Hairs: hair growth needs to be only 1/8 inch long to be removed (about 7 days growth).</li>
      <li>Gentle: sugaring is so gentle it can be used to remove the vellus hair that grows on some women's faces</li>
      <li>Easy Clean Up: sugar paste dissolves easily in water and there's no sticky residue left on skin.</li>
    </ol>

    <h3>When should I avoid sugaring?</h3>
    <p>If you are using Acutane please wait 6 months after discontinuing use before being sugared.  If you are using Differin, Retin A, or Renova please wait at least 3 months after discontinuing use before sugaring.</p>

    <h3>How does sugaring work?</h3>
    <p>The all natural sugar paste is massaged onto the skin by hand at lukewarm temperature and then molded against the natural direction of hair growth. With a flicking motion the hair is gently removed in the natural direction of hair growth.</p>

    <h3>What is Pink’s homecare recommendations?</h3>
    <ol>
      <li>You should avoid touching your freshly sugared area with dirty hands.</li>
      <li>Avoid soaking in baths or hot tubs for 24 hours.</li>
      <li>Avoid working out for 12-24 hours after your sugaring service.</li>
      <li>Avoid sun tanning for 24 hours: skin will be more sensitive to UV rays. Wear sunscreen to avoid bad reactions.</li>
      <li>Avoid applying highly fragranced products to the sugared area up to 12 hours.</li>
      <li>Exfoliate; gently exfoliate 2-3 days a week with Pink’s exfoliating scrub to help prevent ingrown hairs & breakouts between sugaring services.</li>
      <li>For best results, repeat your Pink’s sugaring every 4 to 6 weeks depending on the area and your individual hair growth rate.</li>
    </ol>

  </div>
  
  <div class="row">
    <h1 class="page-header">Put Your Best Face Forward <small>Skin Services</small></h1>
    <h3>What kind of skin products do you use in your treatments?</h3>
    <p>Pink’s uses a professional pharmaceutical Skin Care line, Image. Image products work at a cellular level to diminish fine lines, fade sun damage, increase hydration, and stimulate cellular turnover for more youthful looking skin. Image skincare line provides results almost instantly. </p>

    <h3>What is the difference of Image facial products compared to over the counter products, besides the price?</h3>
    <p>Over the counter products only treat skin’s surface layer.  Optimal skin health is achieved by reaching live tissue – Image skincare products work at this level.  Yes, professional products are more expensive, but only because the active ingredients are much more concentrated than the drug store brands.  </p>

    <h3>What can I expect from a chemical peel? </h3>
    <p>Pink’s will always do a thorough consultation.  It is important for us to have a clear idea of your skin care goals A consultation is essential.  Once we have established a treatment plan we will choose the best peel to meet your goals.  Some peels are stronger than others and require pre-treatment home care. Image peels are gentle yet effective.  You may feel some mild tingling during this service.  The products are formulated to treat and repair skin simultaneously therefore you will not leave with irritated or red skin. Instead, skin will be tighter, smoother, and softer. Fine line and wrinkles will begin to diminish. </p>

    <h3>What are Pink’s homecare recommendations?</h3>
    <ol>
      <li>Do not scratch or rub the treated skin. Scratching and rubbing will diminish results.</li>
      <li>Moisturize with Image products that are designed specific for peel aftercare. This will give you better results and help the skin to repair after this type of deep exfoliation.</li>
    </ol>

    <h3>How often should I get a facial or peel?</h3>
    <p>For optimal skin health we recommend a facial or a chemical peel once a month.</p>
  </div>
  
</div>