<%= provide(:title, "Meet the #{t('brand')} Team") %>
<div class="container">
  <div class="row">
    <h1 class="page-header">Our Team</h1>
    <p>Meet the Pink's Team. We're here to provide you with the best service.</p>
  </div>
  
  <div class="row">
    <ul class="thumbnails">
      <li class="span6">
        <div class="thumbnail">
          <%= image_tag 'vanessa.jpg', :size => '250x250' %>
          <div class="caption">
            <h5>Vanessa Hurlburt</h5>
            <p>Vanessa fell in love with eyelash extensions when they hit the gold paved streets of Los Angles eight years ago. She loved them much she enrolled in esthetician school just so she could learn about her new beauty passion. During her extensive education at Aveda in 2006, she unexpectedly fell in love with everything in the skincare world. Today, she is still very passionate about the beauty industry and is filling Pink's walls with the latest and greatest products and services with her friend and partner Shelby Meyers.</p>
            <p>Vanessa’s motto is that premium beauty products and services don’t have to cost a fortune. She prides herself on providing the latest and greatest at a price everyone can enjoy in environment that makes one feel as if they were home. So kick off your shoes and treat yourself to a fabulous service, product, and outfit in lower Queen Anne.</p>
          </div>
        </div>
      </li>
      
      <li class="span6">
        <div class="thumbnail">
          <%= image_tag 'shelby.jpg', :size => '300x300' %>
          <div class="caption">
            <h5>Shelby Meyers</h5>
            <p>Shelby Meyers shares Audrey Hepburn's sentiment that, "Happy girls are the prettiest". It is her goal to make the girls that come into the boutique both happy and pretty. Shelby is one of those lucky people that loves her work. Pinks is the joyful culmination of years of practice combined with an innate eye for beauty.<p>

            <p>Shelby got her aesthetician license in 2002 and did further training at Gene Juarez. Shelby is friendly and gentle, and her great sense of humor allows her clients to relax into the services. Shelby is skilled at analyzing clients' skin types and matching them with products that will fit individual beauty routines. She is particularly excited about offering Image skincare and peels as she is certain that every woman will be happy with the results. And who doesn't want to feel super beautiful?<p>

            <p>Shelby loves to shop, so starting one with her friend Vanessa was the best of both worlds. With eyes for color, and attention to detail these ladies have amassed a covetable arsenal of goodies from a variety of up and coming/allready well known/ local artists.</p>
            </p>
          </div>
        </div>
      </li>
      
    <ul>
  </div>
  
</div>