<%= provide(:title, "Meet the #{t('brand')} Team") %>
<div class="container">
  <div class="row">
    <h1 class="page-header">Our Team</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue tempor felis quis luctus. Sed suscipit dolor eget urna dignissim sit amet laoreet quam pellentesque. Nam elit sem, sodales eu porttitor non, sollicitudin eu lorem. Sed eget mi est, sit amet dignissim nunc. Sed sit amet odio in nulla lobortis tincidunt a sit amet leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat vestibulum erat sagittis molestie.</p>
  </div>
  
  <div class="row">
    <ul class="thumbnails">
      <li class="span6">
        <div class="thumbnail">
          <img src="http://placehold.it/400x400" alt="">
          <div class="caption">
            <h5>Vanessa Hurlburt</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </li>
      <li class="span6">
        <div class="thumbnail">
          <img src="http://placehold.it/400x400" alt="">
          <div class="caption">
            <h5>Shelby Meyers</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </li>
    <ul>
  </div>
  
</div>