<footer>
  
  <div class="row">
    <div class="span6">
      <h1>Pink's is Located At:</h1>
      <h2>100 Queen Anne Ave N., Seattle 98109</h2>
    </div>
    
    <div class="span4">
      <h2>206-555-1212</h2>
      <%= link_to "Book Appointment Online", "http://www.spabooker.com", :class => "btn btn-primary", :target => "_blank" %>
    </div>
  </div>
  
  <div class="row signin-out" align="center">
    <p>
      <% if signed_in? %>
        <%= link_to "Sign Out", signout_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> | <%= link_to "Sign In", signin_path %>
      <% end %>
    </p>
  </div>
  
</footer>